node-v12.4.0-linux-x64.tar.gz
app-hub.tar.gz
ui-registry.tar.gz
ui-generator.tar.gz
app-hub-selector.tar.gz
analytics-store.tar.gz

pm2.config.js
dist.tgz
registryConfig.json

*/gatling/results/*

mock.json
dump.rdb
*.log
tmp

.log
.cache/
# OSX
#
.DS_Store
# package-lock.json
# Xcode
#
dist/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
web/vendor/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots


ios/AppGyverClient.app.dSYM.zip

ios/Pods/

apps/app/ios/Pods/
apps/app/android/app/src/main/assets/
apps/app/android/app/release/


ios/assets/
ios/main.jsbundle
ios/main.jsbundle.meta

Visual Studio

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

# deployment

deployment/auth

*/*/dist/packages
services/*/dist

deployment/yaml/

.dockerignore
docker-compose.json

deployment/tmp/*
deployment/test/*

logs/

services/analytics-cruncher/tmp/*

/_*